<div class="form-group">
  <label>栽培カレンダー</label>
  <br>
  <label><small>種まき</small></label>
  <div class="row">
    <div class="col-4">
      <%= season_select("sow_months_start") %>
    </div>
    <div class="col-2">
      <small>から</small>
    </div>
    <div class="col-4">
      <%= season_select("sow_months_end") %>
    </div>
    <div class="col-2">
      <small>まで</small>
    </div>
  </div>
  <br>
  <label><small>植え付け</small></label>
  <div class="row">
    <div class="col-4">
      <%= season_select("plant_months_start") %>
    </div>
    <div class="col-2">
      <small>から</small>
    </div>
    <div class="col-4">
      <%= season_select("plant_months_end") %>
    </div>
    <div class="col-2">
      <small>まで</small>
    </div>
  </div>
  <br>
  <label><small>収穫</small></label>
  <div class="row">
    <div class="col-4">
      <%= season_select("harvest_months_start") %>
    </div>
    <div class="col-2">
      <small>から</small>
    </div>
    <div class="col-4">
      <%= season_select("harvest_months_end") %>
    </div>
    <div class="col-2">
      <small>まで</small>
    </div>
  </div>
</div>
