<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <%= stylesheet_link_tag "common", media: "all", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag params[:controller], media: "all", "data-turbolinks-track": "reload" if scss_exists?(params[:controller].to_s)%>

    <%= javascript_include_tag 'common', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-expand navbar-light bg-light">
      <a class="navbar-brand" href="/">SEEDS HOUSE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <%= login_logout_link %>
          <!-- <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">Features</a>
          <a class="nav-item nav-link" href="#">Pricing</a>
          <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
        </div>
      </div>
    </header>
    <div class="container-fluid">
      <h1><%= @page_title %></h1>
      <% flash.each do |key, value| %>
        <%= dimissible_flash(key, value) %>
      <% end %>
      <%= yield %>
    </div>

    <%= javascript_include_tag params[:controller] if js_exists?(params[:controller].to_s) %>
  </body>
</html>
